.gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
}

.galleryItem {
    background: gray;
    /* временно фон */
    width: 200px;
    height: 200px;
}
