.gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
}

.galleryItem {
    background: gray;
    cursor: pointer;
}

.galleryItem img {
    object-fit: cover;
    border-radius: 5px;
    display: block;
}
